appdirs==1.4.4
bidict==0.22.0
biosppy==0.8.0
certifi==2021.10.8
charset-normalizer==2.0.12
colorama==0.4.4
colorlog==6.6.0
colorspacious==1.1.2
cycler==0.11.0
decorator==5.1.1
easydev==0.12.0
fonttools==4.28.5
future==0.18.2
h5py==3.6.0
idna==3.3
Jinja2==3.1.1
joblib==1.1.0
kiwisolver==1.3.2
MarkupSafe==2.1.1
matplotlib==3.5.1
mne==1.0.0
nolds==0.5.2
numpy==1.21.5
opencv-python==4.5.5.64
packaging==21.3
pexpect==4.8.0
Pillow==8.4.0
pooch==1.6.0
ptyprocess==0.7.0
pyhrv==0.4.0
pyparsing==3.0.6
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
pyqtgraph==0.12.4
python-dateutil==2.8.2
pyxdf==1.16.3
QtPy==2.0.1
requests==2.27.1
scikit-learn==1.0.2
scipy==1.7.3
scooby==0.5.12
shortuuid==1.0.8
six==1.16.0
spectrum==0.8.1
threadpoolctl==3.1.0
tqdm==4.63.1
urllib3==1.26.9
